@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  border: 4px solid $sos-dark-pink;
  border-radius: 25px;
  margin: 2rem;
  width: 20rem;

  &__link {
    text-decoration: none;
  }

  &__img {
    height: 15rem;
    object-fit: contain;
    margin: 1rem;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border-top: solid $sos-dark-pink;
    border-radius: 0 0 20px 20px;
    background-color: $sos-pink;
    color: white;
  }

  &__details-container {
    display: flex;
    flex-direction: row;
  }

  &__series {
    font-style: italic;
  }

  &__open-icon {
    width: 2rem;
    filter: invert(100%);
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__btn-edit {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: $sos-black;
    background-color: $sos-yellow;
    padding: 0.5rem 1rem;
  }

  &__btn-del {
    @extend .card__btn-edit;
    background-color: $sos-red;
    color: $sos-white;
  }
}
