$sos-black: #191923;
$sos-yellow: #f6bd60;
$sos-white: #f7ede2;
$sos-pink: #f5cac3;
$sos-dark-pink: #e2a8a1;
$sos-blue: #7389ae;
$sos-red: #af1b3f;
$sos-darkwhite: #d1b193;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$container-max-width-desktop: 1060px;
