@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.form {
  display: flex;

  @include desktop {
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 100%;
    }
  }

  &__heading {
    padding: 2rem 0;
  }

  &__img-placeholder {
    display: flex;
    justify-content: center;
    border: solid $sos-dark-pink;
    border-radius: 1.25rem;
    padding: 1rem;
    width: 17rem;
    height: 17rem;

    @include tablet-desktop {
      width: 24em;
    }

    @include desktop {
      height: 24rem;
      margin: 2rem;
    }
  }

  &__img {
    height: 13rem;
    object-fit: contain;
    margin: 1rem;

    @include tablet-desktop {
      height: 14rem;
    }

    @include desktop {
      height: 18rem;
    }
  }

  &__initial-data-container {
    margin: 1rem 0;
    padding: 1rem;
    border: 4px solid $sos-dark-pink;
    border-radius: 20px;
    background-color: $sos-pink;
  }

  &__details {
    display: flex;
    flex-direction: column;

    @include tablet-desktop {
      flex-direction: row;
    }
  }

  &__details-inputs-container {
    @include tablet-desktop {
      width: 90%;
      padding: 0 2rem;
    }

    @include desktop {
      width: 50%;
      padding: 2rem;
    }
  }

  &__details-heading {
    padding: 1rem 0;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 0.75rem;
  }

  &__dropdown {
    border: none;
    border-bottom: solid $sos-dark-pink;
    padding: 1rem 0.5rem;
  }

  &__price {
    @extend .form__dropdown;
    width: 5rem;
  }

  &__input {
    margin: none;
  }

  &__email {
    width: 95%;
    padding: 0.5rem;
    border: none;
    border-bottom: solid $sos-dark-pink;
  }

  &__button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    border: 3px solid $sos-pink;
    background-color: $sos-pink;
    color: white;

    &:hover {
      color: $sos-dark-pink;
      background-color: transparent;
      transition: all 0.3s ease;
    }

    @include tablet-desktop {
      width: 10rem;
      margin: auto;
    }
  }
}
